# General
.DS_Store
node_modules/
test-results/
playwright-report/
*.log
.env
.env.*.local

# Frontend
dist/
dist-ssr/
coverage/

# Deno
cov_profile
lcov.info

# Documentation Logs (Automated Tasks)
docs/_*
